/* Normal desktop :1200px. */
$large_device:'(min-width: 1200px) and (max-width: 1500px)';

/* Normal desktop :992px. */
$mid_device:'(min-width: 992px) and (max-width: 1200px)';

/* Tablet desktop :768px. */
$tablet_device:'(min-width: 768px) and (max-width: 991px)';

/* small mobile :320px. */
$mobile_device:'(max-width: 767px)';

/* Large Mobile :576px. */
$large_mobile:'only screen and (min-width: 576px) and (max-width: 767px)';


$mid_and_large_devices: '(min-width: 992px)';
$mobile_and_tablet_devices: '(max-width: 991px)';